<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloTuneServiceRef" class="airtelAssignment.HelloTuneService"> </bean>
    <bean id="dataServiceRef" class="airtelAssignment.DataService"> </bean>

    <bean id="helloTuneService" class="airtelAssignment.AirtelRunner">
       <property name="id" value="200"/>
       <property name="service" ref="helloTuneServiceRef"/>
    </bean>

    <bean id="dataService" class="airtelAssignment.AirtelRunner">
        <property name="id" value="990"/>
        <property name="service" ref="dataServiceRef"/>
    </bean>
</beans>