<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="mathStudentMarks" class="looselyCoupled.Maths"> </bean>
    <bean id="scienceStudentMarks" class="looselyCoupled.Science"> </bean>

    <bean id="maths" class="looselyCoupled.Student">
       <property name="id" value="200"/>
       <property name="marks" ref="mathStudentMarks"/>
    </bean>

    <bean id="science" class="looselyCoupled.Student">
        <property name="id" value="800"/>
        <property name="marks" ref="scienceStudentMarks"/>
    </bean>
</beans>